<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta name="viewport" content="width=1080"/>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>T.A.Think 수학으로 상상하는 컴퓨팅 사고</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/sub.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hoverIntent.minified.js}"></script>
<script type="text/javascript" th:src="@{/js/resource_m/main_top.js}"></script>
<script type="text/javascript" th:src="@{/js/resource_m/jquery.scrollbox.js}"></script>
<script type="text/javascript" th:src="@{/js/ui.js}"></script>
<script type="text/javascript" th:src="@{/smartEditor/js/HuskyEZCreator.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/smartEditor/js/myeditor.js}" th:inline="javascript"></script>

<script th:inline="javascript">
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
var bManager = false;

$(document).ready(function(){ 
	$(document).ajaxSend(function(e, xhr, options) {xhr.setRequestHeader(header, token);});
	search("ALL","", 0);
});

var gSearchWord = "";
var gSearchOption = "ALL";
var gSearchPageIdx= 0;

function searchPage(page)
{
	search(gSearchOption, gSearchWord, page);
}

function search(option, word, page)
{	
	var reqObj = new Object();
	
	gSearchWord = word;
	gSearchOption = option;
	gSearchPageIdx = page;
	
    reqObj.word = word;
    reqObj.option = option;
    reqObj.pageIdx = page;
        
    var request = $.ajax(
        {
          url     : /*[[@{/api/listKitInfo}]]*/, 
          type    : "post",
          data    : reqObj,
          dataType: "text"          
        });
    
    request.done(makeList);
    
    request.fail(function(jqXHR, textStatus){ 
        alert(textStatus);
    });
}

function makeList(data)
{
	var responseData = JSON.parse(data);
    
  	if(!responseData)
  	{
     	alert("세션이 만료되어 재접속이 필요합니다.");
     	return false;
  	}      
  	
  	if(responseData.error != null)
  	{
     	alert(responseData.error);
     	return false;
  	}
  	
  	clearKitInfo();
	
  	var totalCnt = document.getElementById("totalCnt");
  	totalCnt.innerHTML = "Total : <span class='red'></span>"+responseData.kitList.length+"건";
  	
  	if(responseData.kitList.length>0)
  		document.getElementById("empty").style.display="none";
  	
  	for(i = 0; i < responseData.kitList.length; i ++)
	{
  		addKitInfo(responseData.kitList[i]);
	}
  	
    if(responseData.pageCnt != 0)
    {
      addPaginate(responseData);
    }
}

function clearKitInfo()
{
    var kitInfoListContainer = document.getElementById("kitInfoListContainer");
    var paginate = document.getElementById("paginate");
    document.getElementById("empty").style.display="";
    
    kitInfoListContainer.innerHTML = "";
    paginate.innerHTML = "";
}

function addKitInfo(kitInfoData)
{	
	var kitInfoListContainer;
	var row;
	var checkCell;
	var kitCodeCell;
	var kitNameCell;
	var registerNameCell;
	var regDateCell;

	var checkbox = document.createElement("input");
	var ahref = document.createElement("a");
	
	kitInfoListContainer = document.getElementById("kitInfoListContainer");	
  	row = kitInfoListContainer.insertRow();
  	
	checkCell = row.insertCell(0);
	kitCodeCell   = row.insertCell(1);
	kitNameCell   = row.insertCell(2);
	registerNameCell   = row.insertCell(3);
	regDateCell   = row.insertCell(4);
		
	
	checkbox.setAttribute("type", "checkbox");
	checkbox.setAttribute("id", "kitCheck");
	checkbox.setAttribute("name", "kitCheck");
	checkbox.value = kitInfoData.seq;
	
	checkCell.appendChild(checkbox);
  
	kitCodeCell.textContent = kitInfoData.code;
		
	ahref.setAttribute("style", "overflow: hidden;text-overflow:ellipsis;max-width: 500px;white-space: nowrap; font-weight:bold;cursor:pointer");
	ahref.innerHTML = kitInfoData.name;
	kitNameCell.setAttribute("style", "overflow: hidden;text-overflow:ellipsis;max-width: 350px;white-space: nowrap;");
	kitNameCell.appendChild(ahref);
	kitNameCell.innerHTML = kitNameCell.innerHTML.replace(/\n\r?/g, '<br />');
	
	registerNameCell.setAttribute("style", "overflow: hidden;text-overflow:ellipsis;max-width: 500px;white-space: nowrap;");
	registerNameCell.textContent = kitInfoData.username;
	registerNameCell.innerHTML = registerNameCell.innerHTML.replace(/\n\r?/g, '<br />');
  	
  	
  	regDateCell.setAttribute("class", "alcenter");
  	var date = new Date(kitInfoData.regDate);
  	regDateCell.innerHTML = date.toISOString().slice(0,10);
  	
  	kitNameCell.onclick=function()
	{
  		location.href = "kitManage?kitSeq="+ checkbox.value;
	};
}

function addPaginate(pageData)
{	
	var paginate = document.getElementById("paginate");
	var first  = document.createElement("a");
	
	first.setAttribute("class", "first");
  	first.setAttribute("href", "javascript:{}");
  	first.setAttribute("onclick", "searchPage('0');");
  	first.innerHTML="맨처음으로";
  	paginate.appendChild(first);
  	    
  	if(!(pageData.currPageIdx < 6))
  	{
    	var pre = document.createElement("a");
    	pre.setAttribute("class", "pre");
    	pre.setAttribute("href", "javascript:{}");
    	pre.setAttribute("onclick", "searchPage('"+(pageData.startPageIdx-2)+"');");
    	pre.innerHTML="이전페이지";
    	paginate.appendChild(pre);
  	}   
  
  	var pageBox  = document.createElement("div");
  	paginate.appendChild(pageBox);
  
  	for(i = pageData.startPageIdx; i <= (pageData.endPageIdx <= pageData.pageCnt?pageData.endPageIdx:pageData.pageCnt); i++)
  	{
    	if(i!=pageData.currPageIdx)
    	{
      		var p  = document.createElement("a");
      		p.setAttribute("href", "javascript:{}");
      		p.setAttribute("onclick", "searchPage('"+(i-1)+"');");
      		p.innerHTML=""+i;
      
      		pageBox.appendChild(p);
    	}
    	else
    	{
      		var s  = document.createElement("strong");
      		s.setAttribute("href", "javascript:{}");
      		s.setAttribute("onclick", "searchPage('"+(i-1)+"');");
      		s.innerHTML=""+i;
      		pageBox.appendChild(s);
    	}
  	}    
   	
  	if(Math.floor((pageData.currPageIdx-1) / 5) * 5 + 5 < pageData.pageCnt)
  	{
    	var next = document.createElement("a");
    	next.setAttribute("class", "next");
    	next.setAttribute("href", "javascript:{}");
    	next.setAttribute("onclick", "searchPage('"+pageData.endPageIdx+"');");
    	next.innerHTML="다음페이지";
    	paginate.appendChild(next);
  	}  
  
  	var last   = document.createElement("a");
  	last.setAttribute("class", "last");
  	last.setAttribute("href", "javascript:{}");
  	last.setAttribute("onclick", "searchPage('"+(pageData.pageCnt-1)+"');");
  	last.innerHTML="맨마지막";
  	paginate.appendChild(last);
}

function onClickSearch()
{
	var searchValue = document.getElementById("searchValue");
	var searchType = document.getElementById("searchType");
	
	search(searchType.value, searchValue.value,0);
}


function onClickAllCheck()
{
    if( $("#kitAllCheck").is(':checked') )
    {
        $("input[name=kitCheck]").prop("checked", true);
    }
    else
    {
       $("input[name=kitCheck]").prop("checked", false);
    }
}

function onClickListDelete()
{	
	var checkRow = "";
	
	$( "input[name='kitCheck']:checked" ).each (
		function ()
		{
			checkRow = checkRow + $(this).val()+":" ;
		}
	);
	
	checkRow = checkRow.substring(0,checkRow.lastIndexOf( ":"));
	
	if(checkRow == '')
	{
	  alert("삭제할 교보재를 선택하세요.");
	  return false;
	}
	
	if(confirm("선택한 교보재를 삭제 하시겠습니까?"))
	{
		DeleteKitList(checkRow);
	}	
}

function DeleteKitList(checkRow)
{
	var reqObj = new Object();
    reqObj.listKit = checkRow;
    reqObj.word = gSearchWord;
    reqObj.option = gSearchOption;
    reqObj.pageIdx = gSearchPageIdx;
    
    var request = $.ajax(
        {
          url     : /*[[@{/api/deleteKitList}]]*/, 
          type    : "post",
          data    : reqObj,
          dataType: "text"          
        });
    
    request.done(makeList);
    
    request.fail(function(jqXHR, textStatus){alert(textStatus);});
}
</script>
</head>

<body>
	<div id="wrap"> 
		<div th:replace="header :: contents"></div>
		<div id="container"> 
			<div class="subhead">
				<div class="subtitle">
					<h2>관리자 메뉴</h2>
					<span>수학으로 상상하는 컴퓨팅 사고. T.A.Think!</span>
					<div class="place"><span><a th:href="@{/}">Home</a></span> > 관리자 메뉴 > 교보재관리</div>
				</div>
			</div>
			<div id="contents_container"> 
				<div class="lnb">
					<div th:replace="admin/adminLnb :: contents"></div>
				</div>
      			<div class="subcontents">
	      			<div id="listBox">
	      				<h3>교보재리스트</h3>
						<div class="tableTop">
							<p id="totalCnt" class="count"></p>
							<div class="searchTable"> 
								<span class="formElement">
									<select id="searchType" style="width:105px;">
										<option value="ALL">전체</option>
										<option value="CODE">교보재코드</option>
										<option value="NAME">교보재명</option>
									</select>
								</span>
								<div class="search">
									<input type="text" id="searchValue">
									<button type="submit" id="searchAction" name="searchAction" onclick="onClickSearch();">검색하기</button>
								</div>
							</div>							
						</div> 						
						<!-- div class="btnWrap" style="display:inline-block;"> 
							<span class="btnBasic light"><button type="button" onclick="">삭제</button></span>
						</div-->
						<div class="btnWrap" > 
							<span class="btnBasic light"><button type="button" id="form01" onclick="onClickListDelete();">삭제</button></span>
							<span class="btnBasic blue"><button type="button" id="form01" onclick="location.href='kitManage'">등록</button></span>
						</div>						 
						<div class="tbList">
							<table border="1" cellspacing="0" summary="교보재리스트">
								<caption>교보재리스트</caption>
								<colgroup>
									<col width="40">
									<col width="140">
									<col width="">
									<col width="100">
									<col width="110px">
								</colgroup>
								<thead>
									<tr>
										<th scope="colgroup"><input type="checkbox" id="kitAllCheck" name="kitAllCheck" onclick="onClickAllCheck()"></th>
										<th scope="col">교보재코드</th>
										<th scope="col">교보재명</th>
										<th scope="col">등록자</th>
										<th scope="col">등록일</th>
									</tr>
								</thead>
								<tbody id="kitInfoListContainer"></tbody>
							</table>
						</div> 
						<div id = "empty" style="text-align:center;">정보가 없습니다.</div>	
						<div id="paginate" class="paginate"></div>
					</div>
      			</div>
			</div>
		</div>
		<div th:replace="footer :: contents"></div>
	</div>
</body>
</html>
