<!doctype html>
<html lang="ko">
	<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	</head>
	
	<body>
		<div th:fragment="classTab01" class="tabCont" id="service1" style="display:block;">
			<div class="tb01">
				<table border="1" cellspacing="0" summary="수업목차">
					<caption>수업목차 </caption>
					<colgroup>
						<col width="80px">
						<col width="">
					</colgroup>
					<thead>
						<tr>
							<th scope="colgroup">차시</th>
							<th scope="col">강의내용</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="lessonData : ${listLesson}">
							<th scope="row"><th:block th:text="${lessonData.lessonOrder}" /></th>
							<td class="classinfo"><th:block th:text="${lessonData.content}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
