<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
</head>

<body>
	<div th:fragment="contents" id="menu_v" class="menu_v">
		<script th:inline="javascript">
		jQuery(function($){
			
			// Side Menu
			var menu_v = $('div.menu_v');
			var sItem = menu_v.find('>ul>li');
			var ssItem = menu_v.find('>ul>li>ul>li');
			var lastEvent = null;
			
			sItem.find('>ul').css('display','none');
			menu_v.find('>ul>li>ul>li[class=active]').parents('li').attr('class','active');
			menu_v.find('>ul>li[class=active]').find('>ul').css('display','block');
		
			function menu_vToggle(event){
				var t = $(this);
				
				if (this == lastEvent) return false;
				lastEvent = this;
				setTimeout(function(){ lastEvent=null }, 180);
				
				if (t.next('ul').is(':hidden')) {
					sItem.find('>ul').slideUp(100);
					t.next('ul').slideDown(100);
				} else if(!t.next('ul').length) {
					sItem.find('>ul').slideUp(100);
				} else {
					t.next('ul').slideUp(100);
				}
				
				if (t.parent('li').hasClass('active')){
					t.parent('li').removeClass('active');
				} else {
					sItem.removeClass('active');
					t.parent('li').addClass('active');
				}
			}
			sItem.find('>a').click(menu_vToggle).focus(menu_vToggle);
			
			function subMenuActive(){
				ssItem.removeClass('active');
				$(this).parent(ssItem).addClass('active');
			}; 
			ssItem.find('>a').click(subMenuActive).focus(subMenuActive);
			
			menu_v.find('>ul>li>ul').prev('a').append('<span class="i"></span>');
		});
		</script>	
		<ul>
			<li th:each="levelData : ${courseLnbData.listCourseLevel}">
				<a href="#">
					<span th:text="${levelData.courseLevel.levelName}">코스 레벨</span>
				</a>
				<ul>
					<li th:each="courseData : ${levelData.listCourse}" th:classappend="${courseData.seq} == ${course.seq} ? active : none">
						<a th:href="@{${'/course?courseSeq='+courseData.seq}}">
							<span><th:block th:utext="${courseData.courseName}" /></span>
						</a>
					<li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
