<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta name="viewport" content="width=1080"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>

<body>
	<div id="footer" th:fragment="contents">
	   <div class="menu">
	     <ul>
	       <li><a th:href="@{/tathinkInfo/descript}">회사소개</a></li>
	       <li><a th:href="@{/join/term}">이용약관</a></li>
	       <li><a th:href="@{/join/emailRole}">이메일 무단수집 거부</a></li>
	       <li><a th:href="@{/join/role}">개인정보 취급방침</a></li>
	     </ul>
	   </div>
	   <div class="line01"><span>TEL : 053-246-9950 </span><span>FAX : 050-4078-4304</span><span>이메일 : chw@tathink.co.kr</span></div>
	   <div class="line02">(우)41940  대구광역시 북구 칠곡중앙대로 180 DIP스마트 상용화센터 203호<br/>
	     <span style="background:none !important">(주)TAThink</span> <span>대표 : 최해원</span><span>사업자등록번호: 899-86-00234</span><span>개인정보관리책임자 : 정경호</span><span>개인정보관리담당자 : 오세진</span></div>
	   <div class="line03">Copyright ⓒ 2016 TAThink.co All rights reserved. </div>
   </div>
</body>
</html>
